doctype html
html(lang=CHART_LOCALE)
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style!=FONT_CSS
    if DARK_MODE
      style(id="css-dark")!=CSS_DARK
      style(id="css-light" media="--disabled--")!=CSS
    else
      style(id="css-dark" media="--disabled--")!=CSS_DARK
      style(id="css-light")!=CSS
    | !{CHART_HEAD}

    if SENTRY
      script(src=SENTRY.src crossorigin="anonymous")
      script.
        if (window.Sentry !== undefined) { // Check that Sentry is defined, because it could have been blocked by an ad blocker.
            Sentry.onLoad(function () {
                Sentry.init({
                    release: '!{GITHEAD}',
                    serverName: 'frontend',
                    tracesSampleRate: !{SENTRY.client.tracesSampleRate || 1},
                    environment: '!{SENTRY.client.environment || ''}'
                });
            });
        }

  body
    div(class="dw-chart chart" class=CHART_CLASS id="__svelte-dw")
      | !{CHART_HTML}

    //- https://v8.dev/blog/cost-of-javascript-2019#json
    script.
      window.__DW_SVELTE_PROPS__ = JSON.parse(!{__DW_SVELTE_PROPS__});
      window.__DW_SVELTE_PROPS__.isStylePlain = /[?&]plain=(1|true)/.test(window.location.search);
      window.__DW_SVELTE_PROPS__.isStyleStatic = /[?&]static=(1|true)/.test(window.location.search);
      window.__DW_SVELTE_PROPS__.isStyleTransparent = /[?&]transparent=(1|true)/.test(window.location.search);
      if (/[?&]logo=(auto|on|off)/.test(window.location.search)) {
        window.__DW_SVELTE_PROPS__.forceLogo = (window.location.search).match(/[?&]logo=(auto|on|off)/)[1];
      }
      window.__DW_SVELTE_PROPS__.logoId = new URLSearchParams(window.location.search).get('logoId');
    each src in DEPS
      script(src=src)

    script.
      window.parent.postMessage('datawrapper:vis:reload', '*');

    script(src=POLYFILL_SCRIPT)

    each src in LIBRARIES
      script(src=src)

    script(src=VIS_SCRIPT)

    script(src=MAIN_SCRIPT)
