doctype html
html(lang=CHART_LANGUAGE)
  head
    meta(charset="UTF-8")
    meta(name="robots", content=META_ROBOTS)
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="color-scheme", content="light dark")
    link(rel="stylesheet", id="css-light", media="(prefers-color-scheme: light)", href!=CSS)
    link(rel="stylesheet", id="css-dark", media="(prefers-color-scheme: dark)", href!=CSS_DARK)
    | !{CHART_HEAD}
    | !{CHART_HEAD}
    | !{CHART_HEAD}
    | !{CHART_AFTER_HEAD_HTML}

    script.
      var st = document.createElement('style');
      st.innerHTML = '* { opacity: 0 }';
      st.setAttribute('id', 'hide-all');
      document.head.appendChild(st);

  body
    div(class="dw-chart chart" class=CHART_CLASS id="__svelte-dw")
      | !{CHART_HTML}

    script.
      (function() {
        var autoDark = /[?&]dark=auto/.test(window.location.search) || (!/[?&]dark=(1|true|0|false)/.test(window.location.search) && !{AUTO_DARK});
        var isDark = /[?&]dark=(1|true)/.test(window.location.search) || (autoDark && window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches);
        if (isDark) document.getElementById('__svelte-dw').className += ' is-dark-mode';
        function removeHideStyles() {
          var st = document.getElementById('hide-all');
          st.parentNode.removeChild(st);
        }
        if (autoDark) {
          removeHideStyles();
        } else {
          if (isDark) {
            document.getElementById('css-light').setAttribute('media', '--disabled--');
            document.getElementById('css-dark').removeAttribute('media');
            document.head.querySelector('meta[name="color-scheme"]').content = 'dark';
          } else {
            document.getElementById('css-dark').setAttribute('media', '--disabled--');
            document.getElementById('css-light').removeAttribute('media');
            document.head.querySelector('meta[name="color-scheme"]').content = 'light';
          }
          removeHideStyles();
        }
        window.__DW_SVELTE_PROPS__ = JSON.parse(!{__DW_SVELTE_PROPS__});
        window.__DW_SVELTE_PROPS__.isStylePlain = /[?&]plain=(1|true)/.test(window.location.search);
        window.__DW_SVELTE_PROPS__.isStyleStatic = /[?&]static=(1|true)/.test(window.location.search);
        window.__DW_SVELTE_PROPS__.isStyleTransparent = /[?&]transparent=(1|true)/.test(window.location.search);
        window.__DW_SVELTE_PROPS__.isStyleDark = isDark;
        window.__DW_SVELTE_PROPS__.isAutoDark = autoDark;
      })();

    script(src=POLYFILL_SCRIPT)

    each src in SCRIPTS
      script(src=src)

    script.
      window.parent.postMessage('datawrapper:vis:reload', '*');

    script(src=CORE_SCRIPT)
